#
# All the relative URL paths are intended to be GitHub ones
# For Espressif's public projects please use '../../espressif/proj', not a '../proj'
#

[submodule "components/esptool_py/esptool"]
	path = components/esptool_py/esptool
	url = ../../espressif/esptool.git

[submodule "components/spiffs/spiffs"]
	path = components/spiffs/spiffs
	url = ../../pellepl/spiffs.git

[submodule "components/mbedtls/mbedtls"]
	path = components/mbedtls/mbedtls
	url = ../../espressif/mbedtls.git

[submodule "components/lwip/lwip"]
	path = components/lwip/lwip
	url = ../../espressif/esp-lwip.git

[submodule "components/esp_wifi/lib"]
	path = components/esp_wifi/lib
	url = ../../espressif/esp32-wifi-lib.git

[submodule "components/tinyusb/tinyusb"]
	path = components/tinyusb/tinyusb
	url = ../../espressif/tinyusb.git
